{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row project-text">
      <h1 class="display-2 text-white">
        White cane
      </h1>
      <h3 class="text-white mt-1">Background</h3>
      <p class="text-white project-text">
        Since ancient times, blind people have sought different ways to overcome their limitations, but it was not until
        1921 that José Mario Fallótico, in Buenos Aires, Argentina, discovered that the use of a white cane would serve
        to distinguish him and thus be able to help him; only that José Fallotic never patented his invention, and it
        was the American George Benham, president of the Illinois Lions Club, who later proposed a white cane with a red
        lower end for use by the visually impaired, so that they would be given priority step, his proposal was accepted
        and in a short time the use of this element became universal. Interestingly, Americans celebrate "International
        White Cane Day" on October 15, but without knowing who its inventor really was.
        Currently, the cane has become for the blind an extension of their body. Something like an external organ that
        makes up for his visual deficiencies, providing him with information while he moves the pointer with the ground,
        since it emits vibrations that are perceived by the user, these vibrations vary their intensity according to the
        circumstances of the surface, they are they exacerbate when it presents greater hardness, allowing you to
        interpret the exact situation in which you find yourself. This sensory tool guides the steps of the blind,
        allowing them to perceive the type of surface they are walking on and at the same time providing information
        about their context and location within it.
        There are currently different models of walking sticks on the market, each of which has a different type of
        grip. Their design is one or the other depending on the service they are intended to provide, depending on the
        degree of blindness of the user. Thus, the B1 model is designed to guide the totally blind, the B2, those who
        slightly distinguish between light and shadow, and finally the B3 guides the steps of the blind who still have
        some residual vision.
        However, I believe that there is still much to be done, and it would be very useful for the blind person to
        receive more information, such as a cane implemented with electronic accessories.
      </p>
      <h3 class="text-white mt-3">Proximity sensor</h3>
      <p class="text-white project-text">
        Ultrasonic sensors have as their main function the detection of objects through the emission and reflection of
        acoustic waves. They work by emitting an ultrasonic pulse against existing objects, in such a way that upon
        detecting the reflected pulse, a timer is stopped that started counting when the pulse was emitted. This time is
        referred to distance and according to the chosen response parameters, it sends a digital or analog electrical
        signal.
      </p>
      <h3 class="text-white mt-3">Objectives</h3>
      <h5 class="text-white mt-2">General</h5>
      <p class="text-white project-text">
        Detect the distance of an obstacle with the implementation of proximity sensors
        and give a warning by means of vibrating motors that will increase their intensity with the approach to said
        obstacle and with a voice indicating the distance from it (as long as the blind person wants it).
      </p>
      <h5 class="text-white mt-2">Specifics</h5>
      <ul class="text-white">
        <li>Measure the distance between an obstacle and the blind person to prevent the blind person from having
          physical contact with it.
        </li>
        <li>Convert a frequency signal to voltage in order to increase the intensity with which the vibrating motors
          work.
        </li>
        <li>Save maintenance using a low energy consumption system in order to have a long duration for one day.</li>
      </ul>
      <table class="table table-dark table-striped mt-5">
        <thead>
        <tr>
          <th>File</th>
          <th>Download</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            cane.c
          </td>
          <td>
            <a
              class="btn btn-primary m-1"
              href="{{ url_for('static', filename='files/cane.c') }}" download
              role="button"><i class="fa fa-file-download"></i>
            </a>
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>


{% endblock %}