{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row project-text">
      <h1 class="display-2 text-white">
        White cane
      </h1>
      <h3 class="text-white mt-1">Background</h3>
      <p class="text-white project-text">
        Since ancient times, blind people have sought different ways to overcome their limitations, but it was not until
        1921 that José Mario Fallótico, in Buenos Aires, Argentina, discovered that the use of a white cane would serve
        to distinguish him and thus be able to help him; only that José Fallotic never patented his invention, and it
        was the American George Benham, president of the Illinois Lions Club, who later proposed a white cane with a red
        lower end for use by the visually impaired, so that they would be given priority step, his proposal was accepted
        and in a short time the use of this element became universal. Interestingly, Americans celebrate "International
        White Cane Day" on October 15, but without knowing who its inventor really was.
        Currently, the cane has become for the blind an extension of their body. Something like an external organ that
        makes up for his visual deficiencies, providing him with information while he moves the pointer with the ground,
        since it emits vibrations that are perceived by the user, these vibrations vary their intensity according to the
        circumstances of the surface, they are they exacerbate when it presents greater hardness, allowing you to
        interpret the exact situation in which you find yourself. This sensory tool guides the steps of the blind,
        allowing them to perceive the type of surface they are walking on and at the same time providing information
        about their context and location within it.
        There are currently different models of walking sticks on the market, each of which has a different type of
        grip. Their design is one or the other depending on the service they are intended to provide, depending on the
        degree of blindness of the user. Thus, the B1 model is designed to guide the totally blind, the B2, those who
        slightly distinguish between light and shadow, and finally the B3 guides the steps of the blind who still have
        some residual vision.
        However, I believe that there is still much to be done, and it would be very useful for the blind person to
        receive more information, such as a cane implemented with electronic accessories.
      </p>
      <h3 class="text-white mt-3">Proximity sensor</h3>
      <p class="text-white project-text">
        Ultrasonic sensors have as their main function the detection of objects through the emission and reflection of
        acoustic waves. They work by emitting an ultrasonic pulse against existing objects, in such a way that upon
        detecting the reflected pulse, a timer is stopped that started counting when the pulse was emitted. This time is
        referred to distance and according to the chosen response parameters, it sends a digital or analog electrical
        signal.
      </p>
      <h3 class="text-white mt-3">Objectives</h3>
      <h5 class="text-white mt-2">General</h5>
      <p class="text-white project-text">
        Detect the distance of an obstacle with the implementation of proximity sensors
        and give a warning by means of vibrating motors that will increase their intensity with the approach to said
        obstacle and with a voice indicating the distance from it (as long as the blind person wants it).
      </p>
      <h5 class="text-white mt-2">Specifics</h5>
      <ul class="text-white ps-5">
        <li>Measure the distance between an obstacle and the blind person to prevent the blind person from having
          physical contact with it.
        </li>
        <li>Convert a frequency signal to voltage in order to increase the intensity with which the vibrating motors
          work.
        </li>
        <li>Save maintenance using a low energy consumption system in order to have a long duration for one day.</li>
      </ul>
      <h5 class="text-white mt-2">Limitations</h5>
      <ul class="text-white ps-5">
        <li>Maximum detection distance of an object is 2 meters.</li>
        <li>The detection angle is 55 degrees.</li>
        <li>The maximum voltage of the vibrator motors is 5v.</li>
        <li>Non-detection of some objects with angles not reachable by the sensors.</li>
      </ul>
      <h3 class="text-white mt-3">Introduction</h3>
      <div class="text-white">
        This document deals with the evolution of the realization of the electronic prototype, with intentions to help
        the blind, Electronic Cane for the Blind, following up from the creation of the idea to the final assembly of
        all the components and materials.
      </div>
      <div class="text-white mt-2 ps-5">
        <strong>Chapter I</strong> describes in detail what the prototype is about, describing each part or stage.
      </div>
      <div class="text-white mt-2 ps-5">
        <strong>Chapter II</strong> It talks about the analysis and creation of the stages that will achieve the
        intention of the device.
      </div>
      <div class="text-white mt-2 ps-5">
        <strong>Chapter III</strong> It deals with the elaboration of the algorithm, flowchart and executed codes.
      </div>
      <div class="text-white mt-2 ps-5">
        <strong>Chapter IV</strong> presents the results obtained from each of the parts.
      </div>
      <div class="text-white mt-2 ps-5">
        <strong>Chapter v</strong> It is the process of assembly or support on which the designed circuits will rest,
        where the measurements of the chassis and the cane are found.
      </div>
      <div class="text-white mt-2 ps-5">
        <strong>Chapter VI</strong> There are specifications to take into consideration for the correct use of the
        prototype.
      </div>
      <section class="text-white">
        <h1 class="text-center mt-3 text-uppercase">Chapter I. Description</h1>
        <h3 class="mt-4">1.1 General operation</h3>
        <p>It is a cane implemented with sensors that will be able to warn the blind that there is an obstacle before
          making physical contact with it, this will be achieved through small vibrations in the handle of the cane that
          will increase as you get closer to the obstacle and through a voice that will will indicate the distance of
          such an object.
        </p>
        <h3 class="mt-3">1.2 Block diagram</h3>
        <img src="{{ url_for('static', filename='images/block_diagram.jpg') }}" class="project-img mt-3">
        <h5 class="mt-4">1.2.1 Power supply</h5>
        <p class="mt-0">In this stage of the circuit, a high-performance 9-volt battery will be implemented to power all
          the stages
          of the circuit and the motors.</p>
        <h5>1.2.2 Load control</h5>
        <p class="mt-0">In this stage, the power supply to the different parts of the circuit is controlled since they
          work with
          different voltages such as sensors, motors, circuits, etc.</p>
        <h5>1.2.3 Proximity sensor</h5>
        <p class="mt-0">This stage is the one in charge of sending the signal depending on the distance with which the
          vibrator will
          work, since the closer the lens of the proximity sensor is, the greater the frequency with which the signal
          will bounce and in this way it is intended to convert this signal so that the vibration motor also works at a
          higher speed and in the case of voice memory to make changes in the phrases.</p>
        <h5>1.2.4 Microcontroller</h5>
        <p class="mt-0">The microcontroller is the one in charge of sending pulses and receiving the signal coming from
          the sensor
          and from there sending it to the output of P1 to be converted by a DAC (Digital to Analog Converter) and sent
          to the vibration motor. If this stage is not done it will be very difficult to make it work at the desired
          speed.
          It is also responsible for controlling the voice memory of the signals that are going to be sent to it.</p>
        <h5>1.2.5 DAC</h5>
        <p class="mt-0">In this stage it is intended to convert the signal coming from the microcontroller so that the
          motor can work
          depending on the frequency that is being sent by the sensors, having this a minimum point to start with a
          small vibration being about 2 meters from the obstacle until a maximum point. with a constant vibration when
          you are very close to the obstacle.</p>
        <h5>1.2.6 Power stage</h5>
        <p class="mt-0">In this stage, what is intended is that the signal obtained from the DAC has a higher power so
          that the circuit can support the vibrating motors.</p>
        <h5>1.2.7 Vibration motor</h5>
        <p class="mt-0">In this stage is where the converted signal arrives to be able to have a speed control that
          depends on the frequency that the sensor is working, which is then converted to a voltage that will increase
          as the frequency that it sends increases, once converted into the DAC.</p>
        <h5>1.2.8 Voice memory</h5>
        <p class="mt-0">This stage receives a signal from the microcontroller that, depending on the signal sent by the micro, is the
          phrase that is going to be said.</p>
      </section>
      <section class="text-white">
        <h1 class="text-center mt-3 text-uppercase">Chapter II. Analysis and design</h1>

      </section>
      <table class="table table-dark table-striped mt-5">
        <thead>
        <tr>
          <th>File</th>
          <th>Download</th>
          <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            cane.c
          </td>
          <td>
            <a
              class="btn btn-primary m-1"
              href="{{ url_for('static', filename='files/cane.c') }}" download
              role="button"><i class="fa fa-file-download"></i>
            </a>
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>


{% endblock %}