{% extends "base.html" %}

{% block content %}
  <!-- Main Content -->
  <!-- Gallery -->
  <div class="row row-cols-1 row-cols-md-2 g-4" id="project-title">
    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='images/projects/pedal.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="..." class="card-title text-black">
            <h5>Guitar Overdrive</h5>
          </a>
          <p class="card-text text-white mt-0"> Custom made guitar overdrive pedal inspired in two iconic
            vintage pedal</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='images/projects/cane.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body" id="project-title">
          <a href="{{ url_for('cane') }}" class="card-title text-black">
            <h5>Electronic White Cane</h5>
          </a>
          <p class="card-text text-white mt-0">Electronic white cane for blind people with a
            headphone and vibratory motor</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='images/projects/rudi.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="..." class="card-title text-black">
            <h5>Drummer rudiment practicer</h5>
          </a>
          <p class="card-text text-white mt-0">Electronic device to see how the rudiment should
            goes with a visual lights</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Gallery -->

{% endblock %}