{% extends "base.html" %}

{% block content %}
  <!-- Main Content -->
  <!-- Gallery -->
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Guitar Overdrive</h5>
          <p class="card-text"> Custom made guitar overdrive pedal inspired in two iconic
            vintage pedal</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Electronic White Cane</h5>
          <p class="card-text">Electronic white cane for blind people with a
            headphone and vibratory motor</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Drummer rudiment practicer</h5>
          <p class="card-text">Electronic device to see how the rudiment should
            goes with a visual lights</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Gallery -->

{% endblock %}