{% extends "base.html" %}

{% block content %}
  <!-- Main Content -->
  <!-- Audio cards -->

  <div class="col-sm-12 col-md-6 col-xl-4">
    <div class="card my-2 me-3">
      <img class="card-img-top" src="{{ url_for('static', filename="images/ivan.jpg") }}"
           alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="h5 fw-bold text-black">NIMROUT</h5>
        <p class="mb-0 text-white">Calor</p>
        <audio controls preload="auto">
          <source src="{{ url_for('static', filename="songs/calor.mp3") }}">
        </audio>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-4">
    <div class="card my-2 me-3">
      <img class="card-img-top" src="{{ url_for('static', filename="images/ivan.jpg") }}"
           alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="h5 fw-bold text-black">NIMROUT</h5>
        <p class="mb-0 text-white">What i used to be</p>
        <audio controls preload="true">
          <source src="{{ url_for('static', filename="songs/what_i_used_to_be.mp3") }}">
        </audio>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-4">
    <div class="card my-2 me-3">
      <img class="card-img-top" src="{{ url_for('static', filename="images/ivan.jpg") }}"
           alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="h5 fw-bold text-black">NIMROUT</h5>
        <p class="mb-0 text-white">Tomandome el deseo</p>
        <audio controls preload="true">
          <source src="{{ url_for('static', filename="songs/tomandome_el_deseo.mp3") }}">
        </audio>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-4">
    <div class="card my-2 me-3">
      <img class="card-img-top" src="{{ url_for('static', filename="images/ivan.jpg") }}"
           alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="h5 fw-bold text-black">NIMROUT</h5>
        <p class="mb-0 text-white">Avaricia</p>
        <audio controls preload="true">
          <source src="{{ url_for('static', filename="songs/avaricia.mp3") }}">
        </audio>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-4">
    <div class="card my-2 me-3">
      <img class="card-img-top" src="{{ url_for('static', filename="images/ivan.jpg") }}"
           alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="h5 fw-bold text-black">NIMROUT</h5>
        <p class="mb-0 text-white">Joseph</p>
        <audio controls preload="true">
          <source src="{{ url_for('static', filename="songs/joseph.mp3") }}">
        </audio>
      </div>
    </div>
  </div>


{% endblock %}