{% extends 'base.html' %}

{% block content %}

  <div class="container text-white">
    <div class="row">
      <h1 class="display-2">Music & Death</h1>
      <section>
        <h3 class="mt-5">Objective</h3>
        <p class="mt-0">The main objective of this research is to investigate if there is any relationship between being
          a
          professional musician and deaths from unnatural causes (A death from natural causes is the result of a disease
          or an internal malfunction of the body not directly caused by external forces, which are not infectious
          diseases)</p>
        <p>In this case, the main causes are analyzed in which a psychological case directly affects the cause of death
          and not a more common case such as accidents.</p>
        <h5>10 most closely associated with death</h5>
        <ol class="ps-5">
          <li>Current smoker</li>
          <li>History of divorce</li>
          <li>History of alcohol abuse</li>
          <li>Recent financial difficulties</li>
          <li>History of unemployment</li>
          <li>Previous history as a smoker</li>
          <li>Lower life satisfaction</li>
          <li>Never married</li>
          <li>History of food stamps</li>
          <li>Negative affectivity</li>
        </ol>
      </section>
      <section class="mt-4">
        <h3>Hypothesis</h3>
        <p class="mt-0">2 of the main causes of unnatural deaths in musicians is abandonment by parents or family and
          the ease of
          obtaining drugs</p>
        <p>I started from scratch collecting data about musicians who have died unnaturally, young or in strange ways in
          a sql table to later normalize it and have all the data structured for future projects.</p>
        <img src="{{ url_for('static', filename='/images/projects/music_db.jpg') }}" class="project-img mt-3">
        <p>The data cleaning process is about minimizing beforehand to make the job easier in the future</p>
        <h5>Cleaned musician table</h5>
      </section>

    </div>

  </div>

{% endblock %}