<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MY BLOG</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='all.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

</head>
<body class="background-projects">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"
     style="background: linear-gradient(15deg, black, #c2a975, black);">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('music') }}">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<!-- Full Page Intro -->
<div class="view">
  <!-- Mask & flexbox options-->
  <div class="mask gradient-card align-items-center">
    <!-- Content -->
    <div class="container d-flex justify-content-center my-4 mb-5">

      <div id="mobile-box" class="col-4">

        <h4 class="my-5 h5 text-center" style="color:rgb(235, 232, 234)">Just click<i class="fas fa-play ml-2"></i></h4>

        <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view">
            <img class="card-img-top" src="/static/Ivan.jpg"
                 alt="Card image cap">
            <a href="https://bachataurban.com/" target="_blank">
              <div class="mask gradient-card"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body text-center">

            <h5 class="h5 font-weight-bold"><a href="https://bachataurban.com/" target="_blank">NIMROUT</a></h5>
            <p class="mb-0">Calor</p>

            <audio id="music" preload="true">
              <source
                src="https://bachataurban.com/download/2/Stefflon%20Don%20-%2016%20Shots%20(%20DJ%20Flam%20-%20Urban%20Bachata%20remix%20).mp3">
            </audio>
            <div id="audioplayer">
              <i id="pButton" class="fas fa-play"></i>
              <div id="timeline">
                <div id="playhead"></div>
              </div>
            </div>

          </div>

        </div>
        <!-- Card -->


      </div>
    </div>
    <!-- Content -->

    <div class="container">
      <div class="card">
        <div class="card-body text-center">

          <p>Built with <a target="_blank" href="https://mdbootstrap.com/docs/standard/">Material Design for
            Bootstrap</a> - free and powerful Bootstrap UI KIT</p>

          <a class="btn btn-primary me-2" href="https://mdbootstrap.com/docs/standard/getting-started/installation/"
             target="_blank" role="button">Download MDB UI KIT <i class="fas fa-download ms-2"></i></a>
          <a class="btn btn-danger me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/" role="button">Learn
            more</a>
          <a class="btn btn-success me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/getting-started/"
             role="button">Tutorials</a>
          <a class="btn btn-dark me-2" target="_blank" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button">GitHub
            <i class="fab fa-github ms-2"></i></a>


        </div>
      </div>
    </div>

  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->


<!-- Footer -->
<footer class="text-center" style="background: linear-gradient(15deg, black, #c2a975, black)">
  <!-- Contact -->
  <div class="container-fluid p-4 pb-0 row footer-margin">
    <div class="text-white col-3 text-start">
      <strong>
        CONTACT
      </strong>
      <div>
            <span style="font-size: 15px">
              oscar_delacruz19@hotmail.com
            </span>
      </div>
    </div>
    <!-- Logo -->
    <div class="content col-6">
      <img src="/static/max.jpg">
    </div>
    <section class="col-3 mb-4">
      <!-- LinkedIn -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"><i class="fab fa-linkedin"></i>
      </a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"><i class="fab fa-github"></i>
      </a>
      <!-- Youtube -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #c4302b;"
        href="#!"
        role="button"><i class="fab fa-youtube"></i>
      </a>
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"><i class="fab fa-facebook"></i>
      </a>
      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55ACEE;"
        href="#!"
        role="button"><i class="fab fa-twitter"></i>
      </a>
    </section>
  </div>
  <div class="text-center p-2 text-white" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"
        integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

</body>
</html>