{% extends 'base.html' %}

{% block content %}
  <div class="container text-white">
    <div class="row">
      <h1 class="display-2">Custom Guitar Overdrive</h1>
      <section>
        <h3>Objective</h3>
        <p>The main purpose with this project is to create a custom guitar pedal
          but not versatile, this is most focus in a warm sound</p>
        <h3>Red Llama</h3>
        <p>The famous guitar pedall red llama is used as a base and pre amp</p>
        <img src="{{ url_for('static', filename='/images/projects/red_llama.jpg') }}" class="project-img mt-4">
      </section>
    </div>

  </div>


{% endblock %}