{% extends 'base.html' %}

{% block content %}
  <div class="container text-white">
    <div class="row">
      <h1 class="display-2">Custom Guitar Overdrive</h1>
      <section>
        <h3>Objective</h3>
        <p>The main purpose with this project is to create a custom guitar pedal
          but not versatile, this is most focus in a warm sound</p>
        <h3>Red Llama</h3>
        <p>The famous guitar pedall red llama is used as a base and pre amp</p>
        <img src="{{ url_for('static', filename='/images/projects/red_llama.jpg') }}" class="project-img mt-4">
        <h5 class="mt-4">Schematic</h5>
        <p class="mt-0">The schematic of the red llama is very simple just an inverter used as a pre amp that causes
          a natural overdrive that is responsive and sounds amazing with humbuckers or single coils</p>
        <img src="{{ url_for('static', filename='/images/projects/red_llama_sch.jpg') }}" class="project-img mt-2">
        <p>The guitar effect uses a 4049 inverter using two stages to correct the signal and provoke
          a higher gain but not too much</p>
        <p>The circuit in the bottom is just to prevent unwanted noise and not drain the battery
          because they tend to drain when not used inverters are leave with no connection</p>
        <h3>SD-1 and TS9</h3>
        <p class="mt-0">THe other section of the pedal is based in the famous Super Overdrive (SD-1) from BOOS and the
          TubeScreamer
          from IBANEZ</p>
        <img src="{{ url_for('static', filename='/images/projects/screamer.jpg') }}" class="project-img mt-2">

      </section>
    </div>

  </div>


{% endblock %}