<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MY BLOG</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='all.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

</head>
<body class="background-projects">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"
     style="background: linear-gradient(15deg, black, #c2a975, black);">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('music') }}">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->

HTML
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="/static/max.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
    <div class="card-body">
      <h5 class="card-title card">Guitar Overdrive</h5>
      <p class="card-text">
        Custom made guitar overdrive pedal inspired in two iconic
        vintage pedals
      </p>
      <a href="#!" class="btn btn-primary">Check</a>
    </div>


    <img
      src="/static/max.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
    <div class="card-body">
      <h5 class="card-title card">White cane</h5>
      <p class="card-text">
        Electronic white cane for blind people with a
        headphone and vibratory motor
      </p>
      <a href="#!" class="btn btn-primary">Check</a>
    </div>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/static/max.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />
    <div class="card-body">
      <h5 class="card-title card">Music and death</h5>
      <p class="card-text">
        Data science project where we analyze if there is
        a relationship between the life of a musicians and
        their not natural deaths
      </p>
      <a href="#!" class="btn btn-primary">Check</a>
    </div>


    <img
      src="/static/max.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
    <div class="card-body">
      <h5 class="card-title card">Auto parts Database</h5>
      <p class="card-text">
        Database created for ecommerce
      </p>
      <a href="#!" class="btn btn-primary">Check</a>
    </div>
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/static/max.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    <div class="card-body">
      <h5 class="card-title card">Autofill app</h5>
      <p class="card-text">
        App created to help in the efficiency in a governmental
        workplace
      </p>
      <a href="#!" class="btn btn-primary">Check</a>
    </div>

    <img
      src="/static/max.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
    <div class="card-body">
      <h5 class="card-title card">Drummer rudiment example</h5>
      <p class="card-text">
        Prototype to give examples of the rudiments to help
        students
      </p>
      <a href="#!" class="btn btn-primary">Check</a>
    </div>
  </div>
</div>
<!-- Gallery -->


<!-- Footer -->
<footer class="text-center" style="background: linear-gradient(15deg, black, #c2a975, black)">
  <!-- Contact -->
  <div class="container-fluid p-4 pb-0 row footer-margin">
    <div class="text-white col-3 text-start">
      <strong>
        CONTACT
      </strong>
      <div>
            <span style="font-size: 15px">
              oscar_delacruz19@hotmail.com
            </span>
      </div>
    </div>
    <!-- Logo -->
    <div class="content col-6">
      <img src="/static/max.jpg">
    </div>
    <section class="col-3 mb-4">
      <!-- LinkedIn -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"><i class="fab fa-linkedin"></i>
      </a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"><i class="fab fa-github"></i>
      </a>
      <!-- Youtube -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #c4302b;"
        href="#!"
        role="button"><i class="fab fa-youtube"></i>
      </a>
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"><i class="fab fa-facebook"></i>
      </a>
      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55ACEE;"
        href="#!"
        role="button"><i class="fab fa-twitter"></i>
      </a>
    </section>
  </div>
  <div class="text-center p-2 text-white" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright
  </div>
</footer>

</body>
</html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">