{% extends "base.html" %}

{% block content %}
  <!-- Main Content -->
  <!-- Gallery -->

  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-black">HARDWARE</h5>
        <p class="card-text text-white">Projects with microcontrollers and music guitar pedal designs.</p>
        <a href="/hardware" class="btn btn-primary rounded-4 button-color">Go</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-black">SOFTWARE</h5>
        <p class="card-text text-white">Data science, DB and GUI projects.</p><br>
        <a href="/software" class="btn btn-primary rounded-4 button-color">Go</a>
      </div>
    </div>
  </div>

  <!-- Gallery -->


{% endblock %}