{% extends "base.html" %}

{% block content %}
  <!-- Main Content -->
  <!-- Gallery -->
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Auto parts database</h5>
          <p class="card-text">Database created to hel a workshop to manage their e commerce
            auto parts</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Auto fill GUI</h5>
          <p class="card-text">App created to help in the efficiency in a governmental
            workplace</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Music & Death</h5>
          <p class="card-text"> Data science project where we analyze if there is
            a relationship between the life of a musicians and#}
            their not natural deaths</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}