{% extends 'base.html' %}

{% block content %}

  <div class="container text-white">
    <div class="row">
      <h1 class="display-2">Don Quixote Word Cloud (SPANISH)</h1>
      <h3 class="mt-1">Wordcloud</h3>
      <p>A word cloud (also known as a tag cloud) is a visual representation of words. Cloud creators are used to
        highlight popular words and phrases based on frequency and relevance. They provide you with quick and simple
        visual insights that can lead to more in-depth analyses.</p>
      <p>I decide to do the wordcloud with the classic Don Quixote because a think is a book that inspire generations
        and has a meaningful message</p>
      <p>The programming language to use is Python</p>
      <section>
        <h3>Libraries</h3>
        <div>
          <pre>
            <code>
              import numpy as np
              import pandas as pd
              from PIL import Image
              import matplotlib.pyplot as plt
              import sys
            </code>
          </pre>
          <button type="button" class="fa fa-copy"></button>
        </div>
      </section>

    </div>
  </div>

{% endblock %}