{% extends "base.html" %}

{% block content %}
  <div class="container text-white">
    <div class="row">
      <h1 class="display-2">R Programming Best Restaurants finder</h1>
      <h3 class="mt-3">GOOGLE API</h3>
      <p>In this case, the Google API will be used by creating an account in
        <a href="https://cloud.google.com/" class="text-white" target="_blank">GoogleCloud</a> In this case it is
        intended to find the best hamburger places in my hometown Guadalajara and its surrounding areas; in this case
        called ZMG (Guadalajara Metropolitan Area) which are made up of Guadalajara, Zapopan, Tlaquepaque, Tonala, El
        Salto and Tlajomulco.
      </p>
      <p>By creating the Google Cloud account you are entitled to a fee of 5800 Mexican pesos, which is the equivalent
        of about 20,000 searches using google maps, so it is enough to do the searches.</p>
      <p>The API is limited to 60 places in the search divided into parts of 20, so you must be specific in the area to
        search and not put such a large radius since you will end up skipping places, that is why you must take the most
        central point of each city without actually touching parts of the surrounding city.</p>
      <section>
        <h3>Libraries</h3>
        <p class="mt-0">We will use the ggmap, mapproj, googleway, sp, dplyr libraries.
          ggmap will be used to graph locations through the google maps API, mapproj is used to manipulate latitudes and
          longitudes, googleway is used to search for places of interest using a keyword, sp is used to manage spatial
          points and dplyr to clean and manipulate the data obtained in the search</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/libraries.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Set up</h3>
        <p class="mt-0">Then we proceed to the preconfiguration with the variables that were used in the project, such
          as the working
          directory of the project, we change the maximum number of lines with the print function to be able to observe
          all the data returned by the Google API, we create a vector with the columns that we will use from those
          returned by the API in this case formatted_address, name, rating, user_ratings_total</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/set-up.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Coordinates</h3>
        <p class="mt-0">In this section we use the approximate central point of each of the 6 cities to be used and a
          radius of no
          more than 3km so as not to stray from the municipal limits.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/coordinates.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">API Key register</h3>
        <p class="mt-0">The next step is to register our key that was provided after creating our google cloud account,
          everyone has a unique key that should not be shared in this case in order to protect it, I get it from my
          system in a file inside .Renviron the which I can obtain with the function Sys.getenv() and inside the name
          with which the key was assigned.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/register.png') }}"
             class="img-frame project-img mt-2">
      </section>
      <section>
        <h1 class="mt-4">Places</h1>
        <h3>Guadalajara</h3>
        <p class="mt-0">We will start with Guadalajara, the first step is to use the google_places function from the
          googleway
          library, this function allows us to search for places with a keyword in this case *burger* using the
          search_string parameter of the google_places function, the next parameter is location which refers to to the
          geographic location of the midpoint to search for which we will give the values of latitude and altitude
          coordinates previously saved in the gdl_c variable, the next parameter is radius which we will also give the
          value of 2800 meters previously saved lastly it asks us for key that it is simply the API key of our
          account.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/gdl_search.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Delay and Token</h5>
        <p class="mt-0">The next step is to save a token that is generated by each search, since the API is limited to
          60 searches, so the radius we choose must be more specific. The searches are divided into parts of 20 in which
          the next 20 searches can only be accessed through the token generated by the previous search, to access this
          token we must access the variable next_page_token generated by it, each token has a delay to prevent misuse of
          the API so we will use Sys.sleep and 5 seconds delay (if we don't use this delay our API may fail and not
          return any query)</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/delay.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Next search</h5>
        <p class="mt-0">For the next search we will use the same method as in the last search but with the difference
          that now we will give an extra parameter in this case the previously generated token and we will give it to
          the page_token parameter to later generate a new token with the new search generated and likewise a 5 second
          delay to prevent the API from not returning any data.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/search_2.png') }}"
             class="img-frame project-img mt-2">
        <p>we repeat the same process for a third search with the new generated token</p>
        <h5 class="mt-4">Join results</h5>
        <p class="mt-0">The next step is to join the 3 results obtained in parts of 20 using the rows_append function,
          since the columns that it returns are the same with the exception of some cases in which an extra column is
          returned, but we will talk about it later, to obtain the results. It is necessary to go down an extra level up
          to the dollar symbol, thus entering the data frame of the results. In the same filter that we will do through
          pipe, we will use the filter function to get rid of the places obtained with few reviews, in this case we will
          only leave those with more than 100 and finally we will convert the list into a data frame.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/append.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Glimpse</h5>
        <p class="mt-0">we can get a summary of the columns obtained using the glimpse() function</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/glimpse.png') }}"
             class="img-frame project-img mt-2">
        <p>In total there are 16 columns with information about each place from its name to the opening and closing
          times, but the ones that interest us are name(Name of the place), formatted_address(Address of the place),
          geometry(from which we will obtain only latitude and length), rating(which is the average score given by the
          reviews of people with 5 being the best) and user_ratings_total(total people who have left a review)</p>
        <h5 class="mt-4">Place names</h5>
        <p class="mt-0">after filtering the places with the most reviews our total number of places changes from 60 to
          only 26</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/filter_1.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Top 10</h5>
        <p class="mt-0">now we will sort this data by rating in descending mode using the arrange function and using the
          rating column and then we will filter only the best 10 places found by head() choosing 10 as parameter</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/top_10.png') }}"
             class="img-frame project-img mt-2">
        <p>The result gives us the best 10 places according to the public, ordered from best to worst.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/top_10-2.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Locations</h5>
        <p class="mt-0">the next step is to get the latitudes and longitudes of each location by extracting them from
          gdl$geometry$location</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/locations.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Cleaning data</h5>
        <p class="mt-0">The next step is to remove the unnecessary columns, this can be achieved by using the subset
          function and with the columns previously stored in the keeps variable in the form of a vector.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/clean.png') }}"
             class="img-frame project-img mt-2">
        <p>the result can be seen with the glimpse function</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/clean_2.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Append locations</h5>
        <p class="mt-0">Finally we add the coordinates previously extracted with the cbind function with which we join
          the data frame already obtained with locations_gdl to later order the columns so that the name remains as the
          first column</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/clean_3.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Save in CSV file</h5>
        <p class="mt-0">Finally we save in a .csv file to be able to continue with the following cities.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/csv.png') }}"
             class="img-frame project-img mt-2">
        <p>Finally we have our file with all the necessary data already cleaned.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/csv_2.png') }}"
             class="img-frame project-img mt-2">
        <p>We continue with the same process for the other cities but we have a spceial cases in the next results so we
          need to handle each one</p>
        <h3>Special cases</h3>
        <h5>Extra column</h5>
        <p class="mt-0">When we do the same process for Zapopan, the last 20 results return an extra column that, if we
          do not handle it correctly, will give us an error when we want to join the 60 results.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/columns.png') }}"
             class="img-frame project-img mt-2">
        <p>We can see that in the third result we have an extra column called permanently_closed to get rid of it simply
          when doing the union we make a slide choosing only the necessary columns in this case from 1 to 16.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/slide.jpg') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Unwanted values and user ratings</h5>
        <p class="mt-0">We proceed as with Guadalajara to reduce the data but in this case we can see when we see the
          addresses obtained that some places with an address in Guadalajara were filtered.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/filter.png') }}"
             class="img-frame project-img mt-2">
        <p>We will use the filter() function in which the first parameter is the data frame to filter and as a second
          the condition in which we will use the grepl function that looks for patterns or words here we will give the
          word Guadalajara and we will use the negation with this we indicate that it only returns the places that do
          not contain the word Guadalajara, also in the same filter we will use & to tell the filter function to return
          the places with more than 50 reviews since zapopan has an average number of reviews lower than Guadalajara</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/filter_2.png') }}"
             class="img-frame project-img mt-2">
        <p>By doing this our results are reduced to 16</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/filter_3.png') }}"
             class="img-frame project-img mt-2">
        <p>Now we proceed with what has already been done previously, reduce to the best 10 results, get rid of the
          unnecessary columns and write the data in a .csv file to be able to use them later, which leaves us with the
          following result.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/zap_results.png') }}"
             class="img-frame project-img mt-2">
        <p>We continue with the same process for the other cities cleaning the unwanted filtered places and reordering
          the columns</p>
        <h3>Join csv files</h3>
        <p class="mt-0">In a separate file in this case called places_handling.R we will read the 6 previously generated
          csv files
          using the read.csv function and then bind them using the bind_row() function to save it in a new variable
          called zmg_csv</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/bind_csv.png') }}"
             class="img-frame project-img mt-2">
        <p>Finally we will do the same process done before where we order by value in the reviews and reorder the
          columns to have our final result and we will save it in a new csv</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/final_result.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Mapping</h3>
        <p class="mt-0">Thanks to the googleway library we can use one of its functions to create interactive maps in
          this case the function is called google_map()</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/map.png') }}"
             class="img-frame project-img mt-2">
        <p>We will only use the parameters "data" to which we will give the value of our final csv, "key" which is our
          Google API key protected in .Renviron, "location" to which we will give the value in which we want to center
          the map In this case, they will be the coordinates of Guadalajara since the other cities are adjacent to it.
          Finally, "zoom" that will be given a value of 12 to be able to appreciate all the points in the area.</p>
        <p>We will also use the add_markers() function to give the values "lat", "lon" to which we will give the values
          of latitude and longitude of each of the places found and by means of the parameter "mouse_over" the value of
          the name of the places so that when the mouse is placed on the marker we can interactively observe the name of
          the place</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/marker.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Final result</h3>
        <p>After running the mapping function:</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/map_2.png') }}"
             class="img-frame project-img mt-2">
        <p>We obtain the following interactive map with all the places found in which when we put the mouse over the
          marker we can see the name of each place</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/map_3.png') }}"
             class="img-frame project-img mt-2">

      </section>
    </div>


  </div>

{% endblock %}