{% extends "base.html" %}

{% block content %}
  <div class="container text-white">
    <div class="row">
      <h1 class="display-2">R Programming Best Restaurants finder</h1>
      <h3 class="mt-3">GOOGLE API</h3>
      <p>In this case, the Google API will be used by creating an account in
        <a href="https://cloud.google.com/" class="text-white" target="_blank">GoogleCloud</a> In this case it is
        intended to find the best hamburger places in my hometown Guadalajara and its surrounding areas; in this case
        called ZMG (Guadalajara Metropolitan Area) which are made up of Guadalajara, Zapopan, Tlaquepaque, Tonala, El
        Salto and Tlajomulco.
      </p>
      <p>By creating the Google Cloud account you are entitled to a fee of 5800 Mexican pesos, which is the equivalent
        of about 20,000 searches using google maps, so it is enough to do the searches.</p>
      <p>The API is limited to 60 places in the search divided into parts of 20, so you must be specific in the area to
        search and not put such a large radius since you will end up skipping places, that is why you must take the most
        central point of each city without actually touching parts of the surrounding city.</p>
      <section>
        <h3>Libraries</h3>
        <p class="mt-0">We will use the ggmap, mapproj, googleway, sp, dplyr libraries.
          ggmap will be used to graph locations through the google maps API, mapproj is used to manipulate latitudes and
          longitudes, googleway is used to search for places of interest using a keyword, sp is used to manage spatial
          points and dplyr to clean and manipulate the data obtained in the search</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/libraries.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Set up</h3>
        <p class="mt-0">Then we proceed to the preconfiguration with the variables that were used in the project, such
          as the working
          directory of the project, we change the maximum number of lines with the print function to be able to observe
          all the data returned by the Google API, we create a vector with the columns that we will use from those
          returned by the API in this case formatted_address, name, rating, user_ratings_total</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/set-up.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Coordinates</h3>
        <p class="mt-0">In this section we use the approximate central point of each of the 6 cities to be used and a
          radius of no
          more than 3km so as not to stray from the municipal limits.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/coordinates.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">API Key register</h3>
        <p class="mt-0">The next step is to register our key that was provided after creating our google cloud account,
          everyone has a unique key that should not be shared in this case in order to protect it, I get it from my
          system in a file inside .Renviron the which I can obtain with the function Sys.getenv() and inside the name
          with which the key was assigned.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/register.png') }}"
             class="img-frame project-img mt-2">
      </section>
      <section>
        <h1 class="mt-4">Places</h1>
        <h3>Guadalajara</h3>
        <p class="mt-0">We will start with Guadalajara, the first step is to use the google_places function from the
          googleway
          library, this function allows us to search for places with a keyword in this case *burger* using the
          search_string parameter of the google_places function, the next parameter is location which refers to to the
          geographic location of the midpoint to search for which we will give the values of latitude and altitude
          coordinates previously saved in the gdl_c variable, the next parameter is radius which we will also give the
          value of 2800 meters previously saved lastly it asks us for key that it is simply the API key of our
          account.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/gdl_search.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Delay and Token</h5>
        <p class="mt-0">The next step is to save a token that is generated by each search, since the API is limited to
          60 searches, so the radius we choose must be more specific. The searches are divided into parts of 20 in which
          the next 20 searches can only be accessed through the token generated by the previous search, to access this
          token we must access the variable next_page_token generated by it, each token has a delay to prevent misuse of
          the API so we will use Sys.sleep and 5 seconds delay (if we don't use this delay our API may fail and not
          return any query)</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/delay.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Next search</h5>
        <p class="mt-0">For the next search we will use the same method as in the last search but with the difference
          that now we will give an extra parameter in this case the previously generated token and we will give it to
          the page_token parameter to later generate a new token with the new search generated and likewise a 5 second
          delay to prevent the API from not returning any data.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/burger/search_2.png') }}"
             class="img-frame project-img mt-2">
        <p>we repeat the same process for a third search with the new generated token</p>

      </section>
    </div>


  </div>

{% endblock %}