{% extends 'base.html' %}

{% block content %}

  <div class="container text-white">
    <div class="row">
      <h1 class="display-2">Music & Death</h1>
      <h3 class="mt-4">Repository Github</h3>
      <p><a href="https://github.com/Kalincillo/data_science_music_and_death" class="text-info" target="_blank">
        Music & Death</a></p>
      <section>
        <h3 class="mt-2">Objective</h3>
        <p class="mt-0">The main objective of this research is to investigate if there is any relationship between being
          a
          professional musician and deaths from unnatural causes (A death from natural causes is the result of a disease
          or an internal malfunction of the body not directly caused by external forces, which are not infectious
          diseases)</p>
        <p>In this case, the main causes are analyzed in which a psychological case directly affects the cause of death
          and not a more common case such as accidents.</p>
        <h5>10 most closely associated with death</h5>
        <ol class="ps-5">
          <li>Current smoker</li>
          <li>History of divorce</li>
          <li>History of alcohol abuse</li>
          <li>Recent financial difficulties</li>
          <li>History of unemployment</li>
          <li>Previous history as a smoker</li>
          <li>Lower life satisfaction</li>
          <li>Never married</li>
          <li>History of food stamps</li>
          <li>Negative affectivity</li>
        </ol>
      </section>
      <section class="mt-4">
        <h3>Hypothesis</h3>
        <p class="mt-0">2 of the main causes of unnatural deaths in musicians is abandonment by parents or family and
          the ease of
          obtaining drugs</p>
        <p>I started from scratch collecting data about musicians who have died unnaturally, young or in strange ways in
          a sql table to later normalize it and have all the data structured for future projects.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/music_db.jpg') }}"
             class="img-frame project-img mt-3">
        <p>The data cleaning process is about minimizing beforehand to make the job easier in the future</p>
        <h5>Cities, states and countries tables</h5>
        <p class="mt-0">We will use the city, state and country tables to be able to separate each artist by their
          region of birth
          and to know if it is a common factor.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/cty_st_ctr.jpg') }}"
             class="img-frame project-img mt-2">
        <p>We will normalize the table birth to have each artist separate by their birthplace</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/birth.jpg') }}"
             class="img-frame project-img mt-2">
        <p>We finished wit this tables</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/tables.jpg') }}"
             class="img-frame project-img mt-2">
      </section>
      <section class="mt-4">
        <h3>Jupyter notebook</h3>
        <p class="mt-0">After normalizing the tables we proceed to connect the database with Jupyter notebook to be able
          to do the analysis with the help of pandas libraries, matplotlib.</p>
        <h3>Install required libraries</h3>
        <p class="mt-0">We begin with the installation of the necessary libraries to be able to connect Mysql and for
          the environment
          variables</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/installation.jpg') }}"
             class="img-frame project-img mt-2">
        <p>Now we import the necessary libraries for data analysis, graphing and connecting the database</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/libraries.jpg') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Database login</h3>
        <p class="mt-0">Next we import the host, name of database and password of MySql, saved in a separate .env file
          to protect the
          data from corruption, we use the library dotenv and the function load_dotenv() previously loaded to do this
          automatically</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/environment.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Connect to the database</h3>
        <p class="mt-0">To connect to the database we will use Try: to prevent a failed connection and the function
          mysql.connector.connect() which as arguments will give the connection values previously loaded with
          load_env()</p>
        <p>connection.is_connected() is a function that helps us to know if the connection was successful</p>
        <p>If the connection is correct we will print "Succes Connected", and using pandas and its read_sql_query
          function we can create queries in the same way as in sql with which we will read the data from the database
          and extract all the tables individually to later manage and clean the necessary data.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/connect.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Join tables</h3>
        <p class="mt-0">In the same Try function: by means of else that is executed we will always join all the tables
          previously
          read in the same dataframe, with the pandas concat function we can add a new column choosing axis=1 and with
          the merge function we will join the tables that have the same column to join equivalents and we'll get rid of
          the duplicate columns for the end sort the columns by means of iloc.</p>
        <p>Finally we close the connection since the data to be used is saved in a new dataframe</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/merge.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Merge cities, states & countries tables</h3>
        <p class="mt-0">In this section we will join the tables of the localities so that each city id coincides with
          its respective state and country and identify the place of birth of each musician.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/cities.jpg') }}"
             class="img-frame project-img">
        <h3 class="mt-4">Drop columns</h3>
        <p class="mt-0">In this section we will eliminate the columns that are not necessary for our investigation, such
          as the identifiers of each type of cause of death, musical genre or date of birth and death.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/drop.jpg') }}"
             class="img-frame project-img">
        <h3 class="mt-4">Merge dataframes</h3>
        <p class="mt-0">Now we have 2 dataframes one with the musicians information and one with the cities</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/musician_inf.png') }}"
             class="img-frame project-img mt-2">
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/cities_inf.jpg') }}"
             class="img-frame project-img mt-4">
        <p>Now we will join them so that each identifier of the city of birth of the musicians is joined with the table
          of cities</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/merge_mc.jpg') }}"
             class="img-frame project-img mt-2">
        <p>Now we can look at the two joined tables</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/joined.jpg') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">Convert to csv</h5>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/musician_csv.png') }}"
             class="img-frame project-img mt-2">
      </section>
      <section class="text-white mt-5">
        <h1 class="text-center">Questions</h1>
        <p>Today I have gathered information from more than 700 musicians which I will continue to update, meanwhile I
          will proceed to answer key questions and we will be able to observe how they change as more people are
          added.
        </p>
        <h3>Total deaths from 50's to 2020's</h3>
        <p class="mt-0">We will create a new dataframe using the pandas function "pivot_table" and divide them by
          musical genre to
          see who has the most deaths so far.</p>
        <p>We will create a bar graph using pyplot bar and graph each gender.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/total_deaths.jpg') }}"
             class="img-frame project-img mt-2">
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/total_deaths_2.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Most common death ages</h3>
        <p class="mt-0">I create a series using the column death ages and then the method "value_counts" and only use the 10 most
          common values using the method "nlargest"</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/death_ages.jpg') }}"
             class="img-frame project-img mt-2">
        <p>Now plot with a pie chart</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/death_ages_pie.png') }}"
             class="img-frame project-img mt-2">
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/death_ages_pie_chart.png') }}"
             class="img-frame project-img mt-2">
        <p>So far we can confirm that the theory of the 27 years is real</p>
        <h3>Most common Music Genre deaths</h3>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/genre_deaths.png') }}"
             class="img-frame project-img mt-2">
        <p>Plot</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/genre_deaths_2.png') }}"
             class="img-frame project-img"><br>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/genre_deaths_3.png') }}"
             class="img-frame project-img mt-4">
        <h3 class="mt-4">Most common countries of origin of dead musicians</h3>
        <p class="mt-0">We use "value_counts" and "nlargest" again but this time with the Country column.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/country_origin.png') }}"
             class="img-frame project-img mt-2">
        <p>Now we plot the data with an horizontal bar</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/country_origin_2.png') }}"
             class="img-frame project-img mt-2">
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/country_origin_3.png') }}"
             class="img-frame project-img mt-2">
        <h3 class="mt-4">Most common states of origin of dead musicians</h3>
        <p>We use "value_counts" and "nlargest" again but this time with the State column and plot it.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/state_origin.png') }}"
             class="img-frame project-img mt-2">
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/state_origin_2.png') }}"
             class="img-frame project-img mt-2">
        <p>we will use the uk as country and england, wales, scotland and northern ireland as states as most of the
          musicians are in the us and we want there to be more balance</p>
        <h3 class="mt-4">Most common cities of origin of dead musicians</h3>
        <p>The same process is done for the city and with which we obtain</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/city_origin.png') }}"
             class="img-frame project-img mt-2">
        <h1 class="mt-5">Causes</h1>
        <p class="mt-0">Now we will see the main causes of death in each musical genre</p>
        <p>First we create a new series using the genre, cause columns and use the value_counts method to count the
          total deaths for each.</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/cause_genre.png') }}"
             class="img-frame project-img mt-2">
        <p>We do a reset to the index to be able to rename the death count column</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/cause_genre_2.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">BLUES</h5>
        <p class="mt-0">Filter only blues cases</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/blues_causes.png') }}"
             class="img-frame project-img mt-2">
        <p>Plot the data</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/blues_causes_2.png') }}"
             class="img-frame project-img mt-2"><br>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/blues_causes_bar.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">ROCK</h5>
        <p class="mt-0">graph using the previous method but filtering the rock musicians</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/rock_cause.png') }}"
             class="img-frame project-img mt-2">
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/rock_cause_2.png') }}"
             class="img-frame project-img mt-2">
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/rock_cause_bar.png') }}"
             class="img-frame project-img mt-2">
        <h5 class="mt-4">JAZZ</h5>
        <p class="mt-0">Do the same with Jazz</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/jazz_cause_bar.png') }}"
             class="img-frame project-img mt-2">
        <p>You can plot the other genres, but we need more data, so we leave it for when we have gathered more
          information from musicians</p>
        <h3>Common cause of deaths</h3>
        <p class="mt-0">We will use the cause column and value_counts on all genera and nlargest for the 10 most
          common</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/common_causes.png') }}"
             class="img-frame project-img mt-2">
        <p>And plot the data</p>
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/common_causes_2.png') }}"
             class="img-frame project-img mt-2">
        <img src="{{ url_for('static', filename='/images/projects/software/music_death/common_causes_bar.png') }}"
             class="img-frame project-img mt-2">
      </section>
      <section class="mt-4">
        <h3>Conclusion</h3>
        <p></p>
      </section>
      <section>
        <h3 class="mt-4">Files</h3>
        <table class="table table-dark table-striped">
          <thead>
          <tr>
            <th>File</th>
            <th>Download</th>
            <th>Size</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>music_and_death.ipynb</td>
            <td>
              <a
                class="btn btn-primary m-1"
                href="{{ url_for('static', filename='files/projects/software/music_and_death/music_and_death.ipynb') }}"
                download
                role="button"><i class="fa fa-file-download"></i>
              </a>
            </td>
            <td>393 KB</td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>

{% endblock %}