{% extends 'base.html' %}

{% block content %}
  <div class="container text-white">
    <div class="row">
      <h1 class="display-2">Custom Guitar Overdrive</h1>
      <section>
        <h3 class="mt-4">Objective</h3>
        <p class="project-text">The main purpose with this project is to create a custom guitar pedal
          but not versatile, this is most focus in a warm sound</p>
        <h3 class="mt-4">Red Llama</h3>
        <p class="mt-0 project-text">The famous guitar pedall red llama is used as a base and pre amp</p>
        <img src="{{ url_for('static', filename='/images/projects/hardware/pedal/red_llama.jpg') }}"
             class="img-frame project-img mt-4">
        <h5 class="mt-4">Schematic</h5>
        <p class="mt-0 project-text">The schematic of the red llama is very simple just an inverter used as a pre amp
          that causes
          a natural overdrive that is responsive and sounds amazing with humbuckers or single coils</p>
        <img src="{{ url_for('static', filename='/images/projects/hardware/pedal/red_llama_sch.jpg') }}"
             class="img-frame project-img mt-4">
        <p class="project-text mt-4">The guitar effect uses a 4049 inverter using two stages to correct the signal and
          provoke
          a higher gain but not too much</p>
        <p class="project-text">The circuit in the bottom is just to prevent unwanted noise and not drain the battery
          because they tend to drain when not used inverters are leave with no connection</p>
        <h3 class="mt-4">SD-1 and TS9</h3>
        <p class="mt-0 project-text">THe other section of the pedal is based in the famous Super Overdrive (SD-1) from
          BOOS and the
          TubeScreamer from IBANEZ</p>
        <img src="{{ url_for('static', filename='/images/projects/hardware/pedal/ts9_sd1.jpg') }}"
             class="img-frame project-img mt-4">
        <h5 class="mt-4">Schematic</h5>
        <p class="mt-0 project-text">The Tube Screamer circuit consists of several blocks, JFET Switch, Power Supply,
          Input Buffer,
          Clipping Amplifier, Tone and Volume Control and Output Buffer.
          The Input Buffer isolates the pedal from the guitar, maintaining signal integrity. Then the Clipping Amplifier
          adds gain and distortion and the Tone and Volume Control adjusts the bass and treble. Finally the Output
          Buffer
          prepares the signal to be transferred to the next pedal or to the amplifier. The JFET Switch is used to turn
          the effect on or off and the Power Supply provides power to the entire circuit.</p>
        <img src="{{ url_for('static', filename='/images/projects/hardware/pedal/screamer.jpg') }}"
             class="img-frame project-img mt-4">
        <p class="project-text mt-4">For commercial reasons I can not put the final result since it is still in
          development to have a PCB and name
          of the pedal but then I will show the BETA phase and how it sounds, you will be able to notice the warm tone
          and the well-defined notes even in high gain of the overdrive</p>
      </section>
      <section>
        <h3 class="mt-4">BETA PHASE</h3>
        <p class="mt-0 project-text">In the next image you can see part of the Tube Screamer and the Red Llama pedals
          where i change
          some
          components to shape the gain and the tone</p>
        <img src="{{ url_for('static', filename='/images/projects/hardware/pedal/custom_pedal.jpg') }}"
             class="img-frame project-img mt-4">
      </section>
      <section>
        <h3 class="mt-4">Testing</h3>
        <p class="mt-0 project-text">In the next video we tested the final version of the pedal</p>
        <video class="ratio ratio-16x9 vid-frame mt-4" controls
               src="{{ url_for('static', filename='/video/pedal_test.mp4') }}"></video>
      </section>
    </div>

  </div>


{% endblock %}